<!DOCTYPE html>
<html>
  <head>
    <title>Lost & Found @ UTRGV</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to "Home", root_path %> |
      <%= link_to "Lost Items", lost_items_path %> |
      <%= link_to "Found Items", found_items_path %>
    </nav>

    <hr>

    <%= yield %>
  </body>
</html>